<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="page_part :: head"></head>
<link th:href="@{/plugins/DataTables-1.10.15/media/css/dataTables.bootstrap.min.css}" rel="stylesheet">

<body class="hold-transition login-page">
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">分类列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="articleTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>名称分类</th>
                            <th>排序</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<div th:include="page_part :: js"></div>
<script th:src="@{/plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/DataTables-1.10.15/media/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/js/page.js}"></script>

<script th:inline="javascript">
    var dataTable = null;

    $(function() {
        dataTable = $("#articleTable").datatable({
            "url": "/article/getArticlePage",
            "columns": initColumn(),
            "search": getSearchData,
            "rowCallBack": rowCallBack
        });

    });


    function initColumn() {
        var columns =  [
            {"mData": 'name'},
            {"mData": 'sort'},
            {"mData": 'createDate'},
            {"mData": null}
        ]

        return columns;
    }

    function getSearchData() {
        return null;
    }

    /**
     * 服务端返回数据后开始渲染表格时调用
     **/
    function rowCallBack(nRow, aData, iDisplayIndex) {
        if(iDisplayIndex % 2 == 0) {
            nRow.bgColor = "#EDEDED";
        }

        $('td:eq(1)', nRow).text(new Date(aData.createDate).pattern('yyyy-MM-dd HH:mm'));

        var htmlText = buildOperate(aData);
        $('td:eq(2)', nRow).html(htmlText);

        return nRow;
    }

    function buildOperate(aData) {
        var html = [];
        html.push('<a href="">编辑</a>');
        html.push('&nbsp;');
        html.push('<a href="">删除</a>');

        return html.join('');
    }
</script>
</body>
</html>
